<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)-refresh-social-feed</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)-download-media</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)-sync-chat-messages</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)-continued-data-processing</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)-continued-media-processing</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
